<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{112,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,151}}</string>
                <key>sourceSize</key>
                <string>{112,151}</string>
            </dict>
            <key>b/bigtag1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,432},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>b/bigtag1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,245},{77,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,73}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>b/bigtag1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,240},{72,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>b/bigtag1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,426},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>b/bigtag_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,169},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>b/bigtag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,143},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>b/bigtag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,173},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>b/bigtag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,200},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>b/bigtag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{1,1}}</string>
                <key>offset</key>
                <string>{-48,44.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{97,90}</string>
            </dict>
            <key>b/bigtag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{1,1}}</string>
                <key>offset</key>
                <string>{-46,50.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>b/bigtag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{1,1}}</string>
                <key>offset</key>
                <string>{-50.5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>b/black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,102},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>b/black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,246},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>b/black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,487},{20,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,37}}</string>
                <key>sourceSize</key>
                <string>{20,37}</string>
            </dict>
            <key>b/black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,102},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>b/black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,61},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>b/black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,90},{25,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,37}}</string>
                <key>sourceSize</key>
                <string>{25,37}</string>
            </dict>
            <key>b/black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,101},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>b/black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,143},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>b/black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,101},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>b/black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,101},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>b/black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,117},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>b/black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,101},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>b/black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,102},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>b/dizhutag.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{101,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,83}}</string>
                <key>sourceSize</key>
                <string>{101,83}</string>
            </dict>
            <key>b/gaoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,155},{132,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,115}}</string>
                <key>sourceSize</key>
                <string>{132,115}</string>
            </dict>
            <key>b/king0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,145},{71,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,98}}</string>
                <key>sourceSize</key>
                <string>{71,98}</string>
            </dict>
            <key>b/king0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{72,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>b/king0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,423},{70,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,96}}</string>
                <key>sourceSize</key>
                <string>{70,96}</string>
            </dict>
            <key>b/king1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,140},{70,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,97}}</string>
                <key>sourceSize</key>
                <string>{70,97}</string>
            </dict>
            <key>b/king1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,324},{71,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,97}}</string>
                <key>sourceSize</key>
                <string>{71,97}</string>
            </dict>
            <key>b/king1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,141},{72,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,97}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>b/king2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{71,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,97}}</string>
                <key>sourceSize</key>
                <string>{71,97}</string>
            </dict>
            <key>b/king2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,314},{68,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,95}}</string>
                <key>sourceSize</key>
                <string>{68,95}</string>
            </dict>
            <key>b/king2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,145},{72,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,99}}</string>
                <key>sourceSize</key>
                <string>{72,99}</string>
            </dict>
            <key>b/king3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,326},{71,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,98}}</string>
                <key>sourceSize</key>
                <string>{71,98}</string>
            </dict>
            <key>b/king3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{71,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,97}}</string>
                <key>sourceSize</key>
                <string>{71,97}</string>
            </dict>
            <key>b/king3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,329},{72,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,101}}</string>
                <key>sourceSize</key>
                <string>{72,101}</string>
            </dict>
            <key>b/poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{112,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,151}}</string>
                <key>sourceSize</key>
                <string>{112,151}</string>
            </dict>
            <key>b/poker_mask_scale9.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>b/red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,289},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>b/red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,246},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>b/red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>b/red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,289},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,38}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>b/red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,105},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>b/red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,286},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>b/red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,289},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>b/red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,286},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>b/red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,105},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>b/red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,105},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>b/red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,286},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>b/red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,246},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>b/red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,289},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,38}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>b/small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{1,1}}</string>
                <key>offset</key>
                <string>{-27.5,33.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>b/smalltag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{31,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,164}}</string>
                <key>sourceSize</key>
                <string>{31,164}</string>
            </dict>
            <key>b/smalltag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,164}}</string>
                <key>sourceSize</key>
                <string>{31,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker_b.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f212f4dbb61ac74fab0916bfdb0c31b0:1/1$</string>
            <key>textureFileName</key>
            <string>poker_b.png</string>
        </dict>
    </dict>
</plist>
