<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>word_jiesuan_dianpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{101,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,57}}</string>
                <key>sourceSize</key>
                <string>{101,57}</string>
            </dict>
            <key>word_jiesuan_gangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,60},{102,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,57}}</string>
                <key>sourceSize</key>
                <string>{102,57}</string>
            </dict>
            <key>word_jiesuan_gangkai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,62}}</string>
                <key>sourceSize</key>
                <string>{104,62}</string>
            </dict>
            <key>word_jiesuan_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,125},{67,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{67,73}</string>
            </dict>
            <key>word_jiesuan_qianggang.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,56}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>word_jiesuan_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{90,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,58}}</string>
                <key>sourceSize</key>
                <string>{90,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>word_jiesuan.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1129ffa410c0d0103b6f84759d1e3fd:1/1$</string>
            <key>textureFileName</key>
            <string>word_jiesuan.png</string>
        </dict>
    </dict>
</plist>
