<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MJ_shaoxiang_yan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,107}}</string>
                <key>sourceSize</key>
                <string>{33,107}</string>
            </dict>
            <key>MJ_shaoxiang_yan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{33,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,107}}</string>
                <key>sourceSize</key>
                <string>{33,107}</string>
            </dict>
            <key>MJ_shaoxiang_yan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{33,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,107}}</string>
                <key>sourceSize</key>
                <string>{33,107}</string>
            </dict>
            <key>MJ_shaoxiang_yan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{33,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,107}}</string>
                <key>sourceSize</key>
                <string>{33,107}</string>
            </dict>
            <key>MJ_shaoxiang_yan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{33,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,107}}</string>
                <key>sourceSize</key>
                <string>{33,107}</string>
            </dict>
            <key>MJ_shaoxiang_yan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{33,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,107}}</string>
                <key>sourceSize</key>
                <string>{33,107}</string>
            </dict>
            <key>MJ_shaoxiang_yan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{33,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,107}}</string>
                <key>sourceSize</key>
                <string>{33,107}</string>
            </dict>
            <key>MJ_shaoxiang_yan08.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{33,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,107}}</string>
                <key>sourceSize</key>
                <string>{33,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MJ_shaoxiang_yan.png</string>
            <key>size</key>
            <string>{282,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a4fd8da0b585a93b7931dfce0c81210$</string>
            <key>textureFileName</key>
            <string>MJ_shaoxiang_yan.png</string>
        </dict>
    </dict>
</plist>
