<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,211}}</string>
                <key>sourceSize</key>
                <string>{157,211}</string>
            </dict>
            <key>b/bigtag_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,128},{64,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>b/bigtag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,208},{64,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>b/bigtag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,340},{64,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,57}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>b/bigtag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,274},{64,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,59}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>b/black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,363},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>b/black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,193},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>b/black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,106},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>b/black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,194},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{38,60}</string>
            </dict>
            <key>b/black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>b/black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,72},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>b/black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,247},{34,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{34,51}</string>
            </dict>
            <key>b/black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,160},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>b/black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,37},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>b/black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,158},{33,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,50}}</string>
                <key>sourceSize</key>
                <string>{33,50}</string>
            </dict>
            <key>b/black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,309},{34,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{34,51}</string>
            </dict>
            <key>b/black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>b/black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,194},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>b/dawang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,406},{59,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,17}}</string>
                <key>sourceSize</key>
                <string>{59,17}</string>
            </dict>
            <key>b/dawang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,215},{90,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,146}}</string>
                <key>sourceSize</key>
                <string>{90,146}</string>
            </dict>
            <key>b/di.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,362},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>b/dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,142},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>b/orange_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{38,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{38,50}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>b/orange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,298},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{30,50}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>b/orange_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,446},{34,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{34,52}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>b/orange_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,336},{34,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{34,54}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>b/orange_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,42},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{36,50}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>b/orange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,265},{30,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{30,50}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>b/orange_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,54},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{34,50}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>b/orange_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,106},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{30,50}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>b/orange_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,246},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{32,50}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>b/orange_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,54},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{30,50}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>b/orange_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{30,50}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>b/orange_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,213},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{32,50}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>b/orange_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,392},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,52}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>b/poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{142,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,192}}</string>
                <key>sourceSize</key>
                <string>{142,192}</string>
            </dict>
            <key>b/poker_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{105,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,138}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>b/red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,363},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>b/red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,107},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>b/red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,80},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>b/red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,274},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{38,60}</string>
            </dict>
            <key>b/red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,467},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>b/red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,445},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>b/red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,392},{34,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{34,51}</string>
            </dict>
            <key>b/red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,193},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>b/red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,392},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>b/red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,158},{33,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,50}}</string>
                <key>sourceSize</key>
                <string>{33,50}</string>
            </dict>
            <key>b/red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,309},{34,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{34,51}</string>
            </dict>
            <key>b/red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,445},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>b/red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,256},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>b/smalltag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{19,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,124}}</string>
                <key>sourceSize</key>
                <string>{19,124}</string>
            </dict>
            <key>b/smalltag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{19,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,124}}</string>
                <key>sourceSize</key>
                <string>{19,124}</string>
            </dict>
            <key>b/tian.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,362},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>b/xiaopai-bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{97,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,130}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>b/xiaowang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,406},{59,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,17}}</string>
                <key>sourceSize</key>
                <string>{59,17}</string>
            </dict>
            <key>b/xiaowang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,409},{90,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,146}}</string>
                <key>sourceSize</key>
                <string>{90,146}</string>
            </dict>
            <key>b/xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,142},{64,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker_b.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87af92731161a7ca419466961c3568b8:1/1$</string>
            <key>textureFileName</key>
            <string>poker_b.png</string>
        </dict>
    </dict>
</plist>
