<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newpoker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1778},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1556},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1778},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1334},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1556},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1778},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1112},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1334},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1556},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1778},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,890},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1112},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1334},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1556},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1778},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,668},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,890},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1112},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1334},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1556},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,446},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,668},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,890},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1112},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1334},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,224},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,446},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,668},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,890},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1112},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,224},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,446},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,668},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,890},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,224},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,446},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,668},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,224},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,446},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,224},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>newpoker_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newpoker.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d3c0cbfcebe168aaa01819077704d82:1/1$</string>
            <key>textureFileName</key>
            <string>newpoker.png</string>
        </dict>
    </dict>
</plist>
