<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhuanzhuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,892},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,892},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,892},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,892},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan14.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,714},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan15.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,714},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan16.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,714},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan17.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,714},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan19.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,536},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,536},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan20.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,536},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan21.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,536},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan23.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,358},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan24.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,358},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan25.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,358},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan26.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,358},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan28.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,180},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan29.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,180},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,180},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan30.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,180},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan7.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zhuanzhuan9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuanzhuan.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bf563a3448e797c71aa397897c1be31:1/1$</string>
            <key>textureFileName</key>
            <string>zhuanzhuan.png</string>
        </dict>
    </dict>
</plist>
