<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_bao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_che.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,127},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_chi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,254},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_dang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,381},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,508},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_kou.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,635},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,762},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,509},{102,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,108}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_tou.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,889},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_baochi.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,119},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_chengdui.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,119},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_chichengkan.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,119},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_chichengsige.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,524},{152,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,65}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_chiergen.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,119},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_diaokan.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,197},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_houdui.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,235},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_podui.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,238},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_sigen.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,197},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_sizhangshangshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,197},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_tuipai.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,262},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_zhaochi.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,275},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_diaosigen.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,275},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_chiguo.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,275},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_huadui.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,353},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,0},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_deng.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,0},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_peng.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,0},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_ba.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,0},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_piao.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,0},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_piao_not.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,587},{102,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,108}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_baojiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,0},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_baojiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,676},{93,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,61}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_youdaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,378},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_chituchengkan.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,381},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_la.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,119},{116,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_chichengan.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,353},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_lxhp.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,353},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_zhuoji.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,405},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_zhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,0},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_chitui.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,431},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,769},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,64}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,561},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,64}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,580},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,64}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,611},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,64}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,561},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,64}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,561},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,64}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,625},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,64}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,625},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,64}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,646},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,64}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,644},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,64}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,675},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,64}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_chupai.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,119},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_chupai0.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,246},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_huang.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,373},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_huang0.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,500},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,627},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_tip0.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,754},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,881},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_win0.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,119},{119,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,127}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_di8.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,431},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_he5.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,431},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_noop.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,483},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_ren7.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,509},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_tian9.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,521},{143,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,78}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_zhaochi.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,664},{71,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,134}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_zhaochi_not.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,509},{71,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,134}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/btn_zhaochi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,235},{62,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,35}</string>
			</dict>
			<key>SCCP/Resources/GameResources/GameUI/text_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,689},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SCCPGameRes1.png</string>
			<key>realTextureFileName</key>
			<string>SCCPGameRes1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>