<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MJ_bomb001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,217}}</string>
                <key>sourceSize</key>
                <string>{236,217}</string>
            </dict>
            <key>MJ_bomb002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{236,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,217}}</string>
                <key>sourceSize</key>
                <string>{236,217}</string>
            </dict>
            <key>MJ_bomb003.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{236,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,217}}</string>
                <key>sourceSize</key>
                <string>{236,217}</string>
            </dict>
            <key>MJ_bomb004.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{236,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,217}}</string>
                <key>sourceSize</key>
                <string>{236,217}</string>
            </dict>
            <key>MJ_bomb005.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{236,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,217}}</string>
                <key>sourceSize</key>
                <string>{236,217}</string>
            </dict>
            <key>MJ_bomb006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{236,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,217}}</string>
                <key>sourceSize</key>
                <string>{236,217}</string>
            </dict>
            <key>MJ_bomb007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{236,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,217}}</string>
                <key>sourceSize</key>
                <string>{236,217}</string>
            </dict>
            <key>MJ_bomb008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,2},{236,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,217}}</string>
                <key>sourceSize</key>
                <string>{236,217}</string>
            </dict>
            <key>MJ_bomb009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{236,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,217}}</string>
                <key>sourceSize</key>
                <string>{236,217}</string>
            </dict>
            <key>MJ_bomb010.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,221},{236,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,217}}</string>
                <key>sourceSize</key>
                <string>{236,217}</string>
            </dict>
            <key>MJ_bomb011.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,221},{236,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,217}}</string>
                <key>sourceSize</key>
                <string>{236,217}</string>
            </dict>
            <key>MJ_bomb012.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,221},{236,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,217}}</string>
                <key>sourceSize</key>
                <string>{236,217}</string>
            </dict>
            <key>MJ_bomb013.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,221},{236,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,217}}</string>
                <key>sourceSize</key>
                <string>{236,217}</string>
            </dict>
            <key>MJ_bomb014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,221},{236,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,217}}</string>
                <key>sourceSize</key>
                <string>{236,217}</string>
            </dict>
            <key>MJ_bomb015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,221},{236,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,217}}</string>
                <key>sourceSize</key>
                <string>{236,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MJ_bomb0.png</string>
            <key>size</key>
            <string>{1906,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2c5fa85bc7e4dea03061fde780c7b2c$</string>
            <key>textureFileName</key>
            <string>MJ_bomb0.png</string>
        </dict>
    </dict>
</plist>
