<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MJ_egg_smoke01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>MJ_egg_smoke02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>MJ_egg_smoke03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>MJ_egg_smoke04.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>MJ_egg_smoke05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>MJ_egg_smoke06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>MJ_egg_smoke07.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,86},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>MJ_egg_smoke08.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,86},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>MJ_egg_smoke09.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,86},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>MJ_egg_smoke10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,86},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>MJ_egg_smoke11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>MJ_egg_smoke12.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,170},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>MJ_egg_smoke13.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,170},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>MJ_egg_smoke14.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,170},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MJ_egg_smoke.png</string>
            <key>size</key>
            <string>{382,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7c5b5ba09873d30e4fcb577d89fdbec$</string>
            <key>textureFileName</key>
            <string>MJ_egg_smoke.png</string>
        </dict>
    </dict>
</plist>
