<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MJ_flower_end01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,306}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>MJ_flower_end02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{294,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,306}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>MJ_flower_end03.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{294,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,306}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>MJ_flower_end04.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{294,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,306}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>MJ_flower_end05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{294,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,306}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>MJ_flower_end06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{294,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,306}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>MJ_flower_end07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{294,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,306}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>MJ_flower_end08.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,310},{294,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,306}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>MJ_flower_end09.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,310},{294,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,306}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>MJ_flower_end10.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,310},{294,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,306}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>MJ_flower_end11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,310},{294,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,306}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>MJ_flower_end12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,310},{294,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,306}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>MJ_flower_end13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{294,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,306}}</string>
                <key>sourceSize</key>
                <string>{294,306}</string>
            </dict>
            <key>MJ_flower_star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,618},{137,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
            <key>MJ_flower_star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,618},{137,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
            <key>MJ_flower_star03.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,618},{137,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
            <key>MJ_flower_star04.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,618},{137,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
            <key>MJ_flower_star05.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,618},{137,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
            <key>MJ_flower_star06.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,618},{137,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
            <key>MJ_flower_star07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,618},{137,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
            <key>MJ_flower_star08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,618},{137,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
            <key>MJ_flower_star09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,618},{137,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
            <key>MJ_flower_star10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,618},{137,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
            <key>MJ_flower_star11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,618},{137,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,125}}</string>
                <key>sourceSize</key>
                <string>{137,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MJ_flower.png</string>
            <key>size</key>
            <string>{1827,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a48db743ffd64d8dbd75bde8f63f1726$</string>
            <key>textureFileName</key>
            <string>MJ_flower.png</string>
        </dict>
    </dict>
</plist>
