<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MJ_shoe_smoke01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,212}}</string>
                <key>sourceSize</key>
                <string>{224,212}</string>
            </dict>
            <key>MJ_shoe_smoke02.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{224,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,212}}</string>
                <key>sourceSize</key>
                <string>{224,212}</string>
            </dict>
            <key>MJ_shoe_smoke03.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{224,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,212}}</string>
                <key>sourceSize</key>
                <string>{224,212}</string>
            </dict>
            <key>MJ_shoe_smoke04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{224,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,212}}</string>
                <key>sourceSize</key>
                <string>{224,212}</string>
            </dict>
            <key>MJ_shoe_smoke05.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,216},{224,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,212}}</string>
                <key>sourceSize</key>
                <string>{224,212}</string>
            </dict>
            <key>MJ_shoe_smoke06.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,216},{224,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,212}}</string>
                <key>sourceSize</key>
                <string>{224,212}</string>
            </dict>
            <key>MJ_shoe_smoke07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{224,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,212}}</string>
                <key>sourceSize</key>
                <string>{224,212}</string>
            </dict>
            <key>MJ_shoe_smoke08.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,430},{224,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,212}}</string>
                <key>sourceSize</key>
                <string>{224,212}</string>
            </dict>
            <key>MJ_shoe_smoke09.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,430},{224,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,212}}</string>
                <key>sourceSize</key>
                <string>{224,212}</string>
            </dict>
            <key>MJ_shoe_smoke10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{224,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,212}}</string>
                <key>sourceSize</key>
                <string>{224,212}</string>
            </dict>
            <key>MJ_shoe_smoke11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,644},{224,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,212}}</string>
                <key>sourceSize</key>
                <string>{224,212}</string>
            </dict>
            <key>MJ_shoe_smoke12.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,644},{224,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,212}}</string>
                <key>sourceSize</key>
                <string>{224,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MJ_shoe_smoke.png</string>
            <key>size</key>
            <string>{680,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30fd45fe3802fb836404cb54e8df52a1$</string>
            <key>textureFileName</key>
            <string>MJ_shoe_smoke.png</string>
        </dict>
    </dict>
</plist>
