<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boluodai2_liuguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,39},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,39},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang08.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,39},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,76},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,76},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,76},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,113},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,113},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang16.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,113},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang18.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,150},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai2_liuguang19.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,150},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai_liuguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,150},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai_liuguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai_liuguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,187},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai_liuguang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,187},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai_liuguang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,187},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai_liuguang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai_liuguang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,224},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai_liuguang08.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,224},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai_liuguang09.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,224},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai_liuguang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai_liuguang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,261},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai_liuguang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,261},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai_liuguang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,261},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai_liuguang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>boluodai_liuguang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,298},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boluodai_liuguang.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:351900ea1a83d518567433a1ce4b03b3$</string>
            <key>textureFileName</key>
            <string>boluodai_liuguang.png</string>
        </dict>
    </dict>
</plist>
