<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>an01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1268},{192,216}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,147},{192,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>an02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,932},{376,452}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,31},{376,452}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>an03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>an04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>an05.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,504},{426,500}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{426,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>an06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{446,500}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{446,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>an07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{314,382}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,58},{314,382}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>an08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{226,274}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,109},{226,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>an09.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1310},{186,198}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,146},{186,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>an10.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1462},{186,186}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,152},{186,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>an.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d0bca2e254afd14f3e4f23580810f6f$</string>
            <key>textureFileName</key>
            <string>an.png</string>
        </dict>
    </dict>
</plist>
