<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>che01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1344},{200,206}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,148},{200,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>che02.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,968},{424,406}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,53},{424,406}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>che03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>che04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>che05.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,504},{482,462}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{482,462}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>che06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{496,490}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{496,490}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>che07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{362,346}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,72},{362,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>che08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1344},{260,250}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,118},{260,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>che09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1596},{192,186}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,152},{192,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>che10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1790},{186,186}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,152},{186,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>che.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6af2252dbef2c6ce74eb55f74c50229$</string>
            <key>textureFileName</key>
            <string>che.png</string>
        </dict>
    </dict>
</plist>
