<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eat01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1288},{194,198}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,148},{194,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eat02.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,938},{388,380}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,65},{388,380}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eat03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eat04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eat05.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,504},{440,432}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{440,432}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eat06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{466,456}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{466,456}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eat07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{338,324}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{338,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eat08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{246,234}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,127},{246,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eat09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1524},{188,186}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,152},{188,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eat10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1714},{186,186}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,152},{186,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eat.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6a06ae191543e9fffa084e211369662$</string>
            <key>textureFileName</key>
            <string>eat.png</string>
        </dict>
    </dict>
</plist>
