<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,452},{444,442}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{444,442}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1508},{500,460}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{500,460}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{500,462}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{500,462}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{500,468}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{500,468}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1006},{500,430}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{500,430}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huang08.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{448,428}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,18},{448,428}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huang09.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{394,424}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,18},{394,424}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,898},{350,406}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,28},{350,406}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,428},{354,324}}</string>
                <key>offset</key>
                <string>{-6,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,29},{354,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{252,220}}</string>
                <key>offset</key>
                <string>{19,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,115},{252,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>huang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2010},{36,22}}</string>
                <key>offset</key>
                <string>{76,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,276},{36,22}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huang.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8b0a48ad8bf668625a89e5758547daa:d8de934306f4c944cb8f0aa57c670280:792960650552bb053fea8f63793ab939$</string>
            <key>textureFileName</key>
            <string>huang.png</string>
        </dict>
    </dict>
</plist>
