<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1304},{200,198}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,148},{200,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>kou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,946},{418,386}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,56},{418,386}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>kou03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>kou04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>kou05.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,504},{468,440}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{468,440}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>kou06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{492,462}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{492,462}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>kou07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{352,334}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,76},{352,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>kou08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{252,244}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,122},{252,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>kou09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1738},{186,186}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,152},{186,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>kou10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{186,186}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,152},{186,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kou.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bedfb0de2023b23b1af54a5c473113c$</string>
            <key>textureFileName</key>
            <string>kou.png</string>
        </dict>
    </dict>
</plist>
