<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>piao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1316},{188,204}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,147},{188,204}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>piao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,952},{398,394}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,62},{398,394}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>piao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>piao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>piao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,504},{456,446}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,33},{456,446}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>piao06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{478,470}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{478,470}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>piao07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{346,338}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,82},{346,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>piao08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1316},{250,246}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,125},{250,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>piao09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1752},{186,186}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,152},{186,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>piao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{186,186}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,152},{186,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>piao.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e73a893920f7b144eca2f8b918f4a94$</string>
            <key>textureFileName</key>
            <string>piao.png</string>
        </dict>
    </dict>
</plist>
