<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1366},{204,208}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,148},{204,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,984},{422,432}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,38},{422,432}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tou03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tou04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tou05.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,504},{478,490}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{478,490}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tou06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{492,500}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,500}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tou07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{366,378}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,57},{366,378}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tou08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{266,276}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,106},{266,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tou09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{196,202}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,142},{196,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tou10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1838},{186,186}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,152},{186,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tou.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2e314654e53d49e6e3b62e42d45a41d$</string>
            <key>textureFileName</key>
            <string>tou.png</string>
        </dict>
    </dict>
</plist>
