<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,334},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>backbig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,237}}</string>
                <key>sourceSize</key>
                <string>{76,237}</string>
            </dict>
            <key>big_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,236},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,158},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,158},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,830},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,478},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,250},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,478},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,250},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,830},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,478},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,250},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,80},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,80},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,80},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_big_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>cardcommon_mid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,790},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,666},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,386},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,498},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,666},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,386},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,498},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,258},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,158},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,374},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,250},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,908},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,908},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,706},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,706},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,908},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,706},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,126},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,102},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_mid_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>cardcommon_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,622},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,622},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,622},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,622},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,334},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,290},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,246},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,290},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,246},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,202},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,158},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,158},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,202},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,158},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,202},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,158},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,202},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,158},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,202},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>cardcommon_small_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,202},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>mid_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>small_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,202},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28d4ccb1a58b49b5f8e73e593558eeb8:1/1$</string>
            <key>textureFileName</key>
            <string>card_common.png</string>
        </dict>
    </dict>
</plist>
